.devName {
    display: inline;
    position: fixed;
    top: 0px;
    left: 156px;
    background: rgba(10, 10, 10, .3);
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}

.mapcanvas {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    z-index: 10;
    width: 150; height: 150;
}

.optionScript {
    position: absolute;
    bottom: 20px; left: 0; right: 0;
    width: 80%;
    background: rgba(44, 44, 44, .4);
    height: 300px;
}

.optionTitle {
    display: block;
    text-align: center;
}